.announcement {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  .container {
    max-width: 1024px;
    width: 100%;
    padding: 0px 20px;
    .check {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      height: 80px;
      input {
        height: 20px;
        width: 20px;
        margin-right: 5px;
      }
    }
    .COVID {
      border: 1px lightgray solid;
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0px 20px;
      svg {
        display: flex;
        color: rgb(251, 144, 4);
        background-color: bisque;
        padding: 10px;
        height: 20px;
        width: 20px;
        margin-right: 20px;
      }
    }
    .discountInfo {
      display: flex;
      align-items: center;
      margin-top: 20px;
      border: 1px lightgray solid;
      height: 160px;
      border-radius: 5px;
      padding: 5px 20px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.145);
      .left {
        width: 150px;
        img {
          display: flex;
          width: 180px;
          border-radius: 5px;
        }
      }
      .right {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        button {
          width: 80px;
          padding: 10px 5px;
          color: white;
          background-color: var(--primary-color);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: rgba(53, 164, 127, 0.75);
          }
        }
      }
    }
    .globalBanner {
      display: flex;
      align-items: center;
      height: 200px;
      border: 1px solid lightgray;
      border-radius: 5px;
      margin-top: 20px;
      padding: 5px 20px;
      background-image: url('https://cf.bstatic.com/static/img/genius-banner-world-bg/2b5cdbad7b92073bc396b8b59d0bb421b3a01cba.png');
      background-repeat: no-repeat;
      background-position: right;
      img {
        width: 200px;
      }
      .globalInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .bannerBtn {
        display: flex;
        gap: 10px;
        button {
          padding: 10px 15px;
          border-radius: 2px;
          border: 1px solid var(--primary-color);
          background-color: white;
          color: var(--primary-color);
          cursor: pointer;
          &:hover {
            background-color: rgba(53, 164, 127, 0.1);
          }
        }
        button:last-child {
          border: none;
        }
      }
    }
  }
}
